node_modules/
.svelte-kit/
build/
package/

# Environment variables
.env
.env.*
!.env.example

# Serverless directories
.vercel/
.vercel_build_output/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS specific
.DS_Store
Thumbs.db

# IDE / Editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
